/Project-1/
/BlueBerry-Winery-Project/data/
/BlueBerry-Winery-Project/images/
/BlueBerry-Winery-Project/.ipynb_checkpoints
/BlueBerry-Winery-Project/vihno_verde_eda_presentation_text.docx
/BlueBerry-Winery-Project/BlueBerry Winery ML.pptx
/BlueBerry-Winery-Project/wine-ml-old.ipynb
/Capital-Bike-Share-Project/data/