/Project-1/
/BlueBerry-Winery/data/
/BlueBerry-Winery/images/
/BlueBerry-Winery/.ipynb_checkpoints
/BlueBerry-Winery/vihno_verde_eda_presentation_text.docx
/BlueBerry-Winery/BlueBerry Winery ML.pptx
/BlueBerry-Winery/wine-ml-old.ipynb
/BlueBerry-Winery/wine-eda-old.ipynb
/Capital-Bike-Share/data/
/Capital-Bike-Share/.ipynb_checkpoints/
/Capital-Bike-Share/Capital Bikeshare EDA & ML.pptx
/Capital-Bike-Share/images/
/Capital-Bike-Share/bikes-trip-map-old.ipynb
/Capital-Bike-Share/bikes-eda-old.ipynb
/10-Days-of-SQL/cran_logs_2015_01_01.csv
/10-Days-of-SQL/murder-mystery.sql
/E-Commerce/Sample-Superstore.csv
/E-Commerce/store_erd.pgerd
/E-Commerce/pgadmin_store_erd.png
/E-Commerce/ecommerce-platform-data-1.webp
/E-Commerce/map.html
/E-Commerce/old
/E-Commerce/images
/E-Commerce/__pycache__
/E-Commerce/E-Commerce Presentation.pptx
/E-Commerce/records
/E-Commerce/us-states-coordinates.json
/Data-Pipelines
/Data-Pipelines/api_request_package
/Data-Pipelines/google_upload
/Data-Pipelines/heroku
/Final-Project/.env
/Final-Project/Documents
/Final-Project/global_power_plant_database_v_1_3
/Final-Project/JRC-PPDB-OPEN.ver1.0