/Project-1/
/BlueBerry-Winery-Project/data/
/BlueBerry-Winery-Project/images/
/BlueBerry-Winery-Project/.ipynb_checkpoints
/BlueBerry-Winery-Project/vihno_verde_eda_presentation_text.docx
/BlueBerry-Winery-Project/BlueBerry Winery ML.pptx
/BlueBerry-Winery-Project/wine-ml-old.ipynb
/BlueBerry-Winery-Project/wine-eda-old.ipynb
/Capital-Bike-Share-Project/data/
/Capital-Bike-Share-Project/.ipynb_checkpoints/
/Capital-Bike-Share-Project/Capital Bikeshare EDA & ML.pptx
/Capital-Bike-Share-Project/images/
/Capital-Bike-Share-Project/bikes-trip-map-old.ipynb
/Capital-Bike-Share-Project/bikes-eda-old.ipynb
/SQL
/E-Commerce/Sample-Superstore.csv
/E-Commerce/store_erd.pgerd
/E-Commerce/pgadmin_store_erd.png
/E-Commerce/ecommerce-platform-data-1.webp
/E-Commerce/map.html
/E-Commerce/old
/E-Commerce/images
/E-Commerce/__pycache__
/E-Commerce/E-Commerce Presentation.pptx
/E-Commerce/records
/E-Commerce/us-states-coordinates.json